PORT=5000
MONGODB_URI=mongodb+srv://shr3yanshtiwari_db_user:1dmlmfvv8j2tCcz1@campusfix.jvkuoew.mongodb.net/campusfix?retryWrites=true&w=majority
JWT_SECRET=3dd4dbeacc35606a123846f0ad7225a1f1ae414c7b569f8f429e62056c309d63
NODE_ENV=development

# Email Configuration (for notifications)
# For Gmail: EMAIL_SERVICE=gmail
# For Outlook: EMAIL_SERVICE=outlook
# For custom SMTP, use nodemailer SMTP configuration
EMAIL_SERVICE=gmail
EMAIL_USER=campusfixnotify@gmail.com
EMAIL_PASS=CampusFix0911
FRONTEND_URL=http://localhost:5173

