PORT=5000
MONGODB_URI=mongodb+srv://shr3yanshtiwari_db_user:1dmlmfvv8j2tCcz1@campusfix.jvkuoew.mongodb.net/campusfix?retryWrites=true&w=majority
JWT_SECRET=3dd4dbeacc35606a123846f0ad7225a1f1ae414c7b569f8f429e62056c309d63
NODE_ENV=development

